[Unit]
Description= Platform initialize, first service run
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/opx_platform_init.sh

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target

