Source: opx-platform-config
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9),dh-systemd
Standards-Version: 3.9.3

# Package: opx-platform-config-dell-s6000-vm
# Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}, libopx-sdi-sys-vm1, libopx-sai-vm1
# Description: Platform specific files and packages for VM simulation of Dell Networking S6000-ON

# Package: opx-dell-s6000-vm
# Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}, opx-platform-config-dell-s6000-vm, opx-core
# Description: All packages for VM simulation of Dell Networking S6000-ON

Package: opx-platform-config-dell-s6000
Architecture: any
Depends: opx-dell-s6000-modules, i2c-tools, dmidecode, libopx-sdi-device-drivers1, libopx-sdi-sys1
Description: Package to install on a Dell Networking S6000-ON

Package: opx-dell-s6000
Architecture: any
Depends: opx-platform-config-dell-s6000,opx-core
Description: Package to install on a Dell Networking S6000-ON
