Source: opx-platform-config
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev
Standards-Version: 3.9.3

Package: opx-platform-config-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Files common to all platforms

Package: opx-platform-config-dell-s6000
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opx-platform-config-common
Description: Platform specific files and packages for  Dell Networking S6000-ON

